*{
	box-sizing: border-box;
}
html,body{     
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(imgs/jeremy-ricketts-9573.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;     
	
}
.clearfix{
	clear: both;
}
.button{
	button{
		font-size: 14px;
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		top: 60px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		height: 100px;
		width: 100px;
		border-radius: 50%;
		border: black 1px solid;
		text-decoration: none;
		color: #f3f2f2;
		background-color: #cccc00;
		position: absolute;
		overflow: hidden;
		z-index: 20;
		outline: none;
		transition: color 150ms ease-in-out;
		&:after {
		    content: '';
		    position: absolute;
		    display: block;
		    top: 0;
		    left: 50%;
		    -webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			-o-transform: translateX(-50%);
		    width: 0;
		    height: 100%;
		    background: green;
		    z-index: -1;
		    transition: width 150ms ease-in-out;
		  }		  
		  &:hover {
		    color: #fff;
		    &:after {
		      width: 110%;
		    }
		  }	
	}
}
.header-small{   
	margin-bottom: 50px;	
	header{         
		h3{
			position: relative;             
			font-size: 28px;             
			margin: 0 0 0 10px;         
			font-family: 'Roboto Slab', serif;  
			letter-spacing: 6px;           
			color: #1a0000;
			span{
				position: absolute;                 
				top: 0;                 
				left: 0;
				height: 100%;                 
				width: 30%;                 
				border-bottom: 1px solid #f3f2f2;             
			}         
		}     
	} 
} 

.current-weather{
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
	
	header{
		h1{
			font-size: 30px;
			font-family: "Raleway", sans-serif;
			text-align: center;
			color: #1a0000;
		}
	}
	&__thermometer{
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
		-o-transform: translateX(50%);
		border-radius: 20px;
		top: 0;
		right: 0;
		height: 100%;
		width: 20px;
		border: 2px solid #f3f2f2;
		&__line{
			position: relative;
			left: -10px;
			height: 3px;
			width: 10px;
			background-color: #f3f2f2;
			&:nth-child(4n+0){
				left: -18px;
				width: 15px;
			}
		}

	}
	&__wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__temperature{
			height: 300px;
			width: 300px;
			margin-bottom: 50px;
			border-radius: 50%;
			border: 2px solid #f3f2f2;
			background-color: rgba(134, 121, 121, 0.7);
			line-height: 300px;
			text-align: center;
			p{
				display: inline-block;
				color: #f3f2f2;
				position: relative;
				margin: 0;
				padding: 0;
				font-size: 120px;
				font-family: 'Roboto Condensed', sans-serif;
			
				span{
					position: absolute;
					right: -35px;
					top: -50px;
					font-size: 50px;
				}
			}

		}
		&__details{
			width: 80%;
			background-color: rgba(243, 242, 242,0.7);
			padding: 4px;
			color: black;
			border-radius: 15px;
			margin-bottom: 20px;
			ul{
				display: flex;
				justify-content: space-around;
				list-style-type: none;
				.icon{
					height: 30px;
					width: 30px;
					margin-right: 5px;
				}
			}
		}
		&__sun{
			width: 60%;
			display: flex;
			text-align: center;
			&__sunrise{
				width: 20%;
				div{
					img{
						width:40px;
						height: 40px;
					}
				}
				p{
					font-family: "Roboto Condensed", sans-serif;
					font-size: 20px;
					font-weight: 700;
					color: #1a0000;

				}
			}
			&__middle{
				width:60%;
				border-radius: 50%;
				border: 2px solid #1a0000;
				border-left-color: transparent;
				border-right-color: transparent;
				border-bottom-color: transparent;
				
			}
			&__sunset{
				width: 20%;
				div{
					img{
						width:40px;
						height: 40px;
					}
				}
				p{
					font-family: "Roboto Condensed", sans-serif;
					font-size: 20px;
					font-weight: 700;
					color: #1a0000;
				}
			}

		}
	}
	
	

}
.forecast{
	position: relative;
	display: inline-block;
	float: left;
	width: 46%;
	margin: 0 2%;
	header{
		h1{
			font-size: 30px;
			font-family: "Raleway", sans-serif;
			text-align: center;
			color: #1a0000;
		}
	}
	&__table{
		background-color: rgba(243, 242, 242,0.7);
		padding: 4px;
		border-radius: 15px;
		color: black;
		ul{
			list-style-type: none;
			li{

				font-family: "Raleway", sans-serif;
				border-bottom: 1px white solid;
				div{
					display: inline-block;
					padding: 8px;
					font-weight: 700;
					background-color: #666666;
					border-radius: 15px;
					color: #f3f2f2;	
					text-transform: uppercase;
					margin-top: 3px;
					border: 2px solid #f2f2f2;	

				}
				ul{
					width: 80%;
					margin: 0 auto;
					margin-bottom: 15px;	
					display: flex;
					justify-content: space-around;
					list-style-type: none;
					li{
						border-bottom: none;
						img{
							height: 25px;
							width: 25px;
							margin-right: 5px;
						}
					}
				}
				&:nth-last-child(1){
				border: none;
			}
			}
			
		}

	}
}