* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(imgs/jeremy-ricketts-9573.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed; }

.clearfix {
  clear: both; }

.button button {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: black 1px solid;
  text-decoration: none;
  color: #f3f2f2;
  background-color: #cccc00;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  outline: none;
  transition: color 150ms ease-in-out; }
  .button button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: green;
    z-index: -1;
    transition: width 150ms ease-in-out; }
  .button button:hover {
    color: #fff; }
    .button button:hover:after {
      width: 110%; }

.header-small {
  margin-bottom: 50px; }
  .header-small header h3 {
    position: relative;
    font-size: 28px;
    margin: 0 0 0 10px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 6px;
    color: #1a0000; }
    .header-small header h3 span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30%;
      border-bottom: 1px solid #f3f2f2; }

.current-weather {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%; }
  .current-weather header h1 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #1a0000; }
  .current-weather__thermometer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -o-transform: translateX(50%);
    border-radius: 20px;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    border: 2px solid #f3f2f2; }
    .current-weather__thermometer__line {
      position: relative;
      left: -10px;
      height: 3px;
      width: 10px;
      background-color: #f3f2f2; }
      .current-weather__thermometer__line:nth-child(4n+0) {
        left: -18px;
        width: 15px; }
  .current-weather__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .current-weather__wrapper__temperature {
      height: 300px;
      width: 300px;
      margin-bottom: 50px;
      border-radius: 50%;
      border: 2px solid #f3f2f2;
      background-color: rgba(134, 121, 121, 0.7);
      line-height: 300px;
      text-align: center; }
      .current-weather__wrapper__temperature p {
        display: inline-block;
        color: #f3f2f2;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 120px;
        font-family: 'Roboto Condensed', sans-serif; }
        .current-weather__wrapper__temperature p span {
          position: absolute;
          right: -35px;
          top: -50px;
          font-size: 50px; }
    .current-weather__wrapper__details {
      width: 80%;
      background-color: rgba(243, 242, 242, 0.7);
      padding: 4px;
      color: black;
      border-radius: 15px;
      margin-bottom: 20px; }
      .current-weather__wrapper__details ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none; }
        .current-weather__wrapper__details ul .icon {
          height: 30px;
          width: 30px;
          margin-right: 5px; }
    .current-weather__wrapper__sun {
      width: 60%;
      display: flex;
      text-align: center; }
      .current-weather__wrapper__sun__sunrise {
        width: 20%; }
        .current-weather__wrapper__sun__sunrise div img {
          width: 40px;
          height: 40px; }
        .current-weather__wrapper__sun__sunrise p {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: #1a0000; }
      .current-weather__wrapper__sun__middle {
        width: 60%;
        border-radius: 50%;
        border: 2px solid #1a0000;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent; }
      .current-weather__wrapper__sun__sunset {
        width: 20%; }
        .current-weather__wrapper__sun__sunset div img {
          width: 40px;
          height: 40px; }
        .current-weather__wrapper__sun__sunset p {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: #1a0000; }

.forecast {
  position: relative;
  display: inline-block;
  float: left;
  width: 46%;
  margin: 0 2%; }
  .forecast header h1 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #1a0000; }
  .forecast__table {
    background-color: rgba(243, 242, 242, 0.7);
    padding: 4px;
    border-radius: 15px;
    color: black; }
    .forecast__table ul {
      list-style-type: none; }
      .forecast__table ul li {
        font-family: "Raleway", sans-serif;
        border-bottom: 1px white solid; }
        .forecast__table ul li div {
          display: inline-block;
          padding: 8px;
          font-weight: 700;
          background-color: #666666;
          border-radius: 15px;
          color: #f3f2f2;
          text-transform: uppercase;
          margin-top: 3px;
          border: 2px solid #f2f2f2; }
        .forecast__table ul li ul {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 15px;
          display: flex;
          justify-content: space-around;
          list-style-type: none; }
          .forecast__table ul li ul li {
            border-bottom: none; }
            .forecast__table ul li ul li img {
              height: 25px;
              width: 25px;
              margin-right: 5px; }
        .forecast__table ul li:nth-last-child(1) {
          border: none; }

/*# sourceMappingURL=style.css.map */
