* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.clearfix {
  clear: both; }

.hide {
  opacity: 0; }

.pre-loader {
  transition: 0.8s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: #cccc00;
  height: 100vh;
  width: 100vw;
  text-align: center; }
  .pre-loader h1 {
    margin: 100px 0 100px 0;
    font-size: 40px;
    font-family: 'Roboto Slab', serif; }
  .pre-loader button {
    animation: pulse infinite 2s;
    border-radius: 50%;
    border: 1px white solid;
    display: inline-block;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 700;
    height: 200px;
    width: 200px;
    color: #666666;
    background-color: #f3f2f2;
    outline: none; }
    .pre-loader button:hover {
      cursor: pointer; }

.header-small {
  margin-bottom: 50px; }
  .header-small header h3 {
    position: relative;
    font-size: 28px;
    margin: 0 0 0 10px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 6px;
    color: #1a0000; }
    .header-small header h3 span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30%;
      border-bottom: 1px solid #f3f2f2; }

#toggleUnits {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: black 1px solid;
  text-decoration: none;
  color: #f3f2f2;
  background-color: #cccc00;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  outline: none;
  transition: color 150ms ease-in-out; }
  #toggleUnits:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: green;
    z-index: -1;
    transition: width 150ms ease-in-out; }
  #toggleUnits:hover {
    color: #fff; }
    #toggleUnits:hover:after {
      width: 110%; }

.current-weather {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%; }
  .current-weather header h1 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #1a0000; }
  .current-weather__thermometer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -o-transform: translateX(50%);
    border-radius: 20px;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    border: 2px solid #f3f2f2; }
    .current-weather__thermometer__line {
      position: relative;
      left: -10px;
      height: 3px;
      width: 10px;
      background-color: #f3f2f2; }
      .current-weather__thermometer__line:nth-child(4n+0) {
        left: -18px;
        width: 15px; }
  .current-weather__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .current-weather__wrapper__temperature {
      height: 300px;
      width: 300px;
      margin-bottom: 50px;
      border-radius: 50%;
      border: 2px solid #f3f2f2;
      background-color: rgba(134, 121, 121, 0.7);
      line-height: 300px;
      text-align: center; }
      .current-weather__wrapper__temperature p {
        display: inline-block;
        color: #f3f2f2;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 170px;
        font-family: 'Roboto Condensed', sans-serif; }
        .current-weather__wrapper__temperature p span {
          position: absolute;
          right: -35px;
          top: -65px;
          font-size: 50px; }
    .current-weather__wrapper__details {
      width: 80%;
      background-color: rgba(243, 242, 242, 0.7);
      padding: 4px;
      color: black;
      border-radius: 15px;
      margin-bottom: 20px; }
      .current-weather__wrapper__details ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        font-weight: 700; }
        .current-weather__wrapper__details ul .icon {
          height: 30px;
          width: 30px;
          margin-right: 10px; }
    .current-weather__wrapper__sun {
      width: 60%;
      display: flex;
      text-align: center; }
      .current-weather__wrapper__sun__sunrise {
        width: 20%; }
        .current-weather__wrapper__sun__sunrise div img {
          width: 40px;
          height: 40px; }
        .current-weather__wrapper__sun__sunrise p {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: #1a0000; }
      .current-weather__wrapper__sun__middle {
        width: 60%;
        border-radius: 50%;
        border: 2px solid #1a0000;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent; }
      .current-weather__wrapper__sun__sunset {
        width: 20%; }
        .current-weather__wrapper__sun__sunset div img {
          width: 40px;
          height: 40px; }
        .current-weather__wrapper__sun__sunset p {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 20px;
          font-weight: 700;
          color: #1a0000; }

.forecast {
  position: relative;
  display: inline-block;
  float: left;
  width: 46%;
  margin: 0 2%; }
  .forecast header h1 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #1a0000; }
  .forecast__table {
    background-color: rgba(243, 242, 242, 0.7);
    padding: 4px;
    padding-left: 0;
    border-radius: 15px;
    color: black; }
    .forecast__table ul {
      list-style-type: none; }
      .forecast__table ul li:nth-last-child(1) {
        border: none; }
      .forecast__table ul li {
        position: relative;
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid #f3f2f2;
        margin-top: 30px;
        padding-bottom: 10px;
        padding-left: 10%;
        transition: 0.4s; }
        .forecast__table ul li .forecast-day {
          display: inline-block;
          font-size: 18px;
          font-family: 'Roboto Condensed', sans-serif;
          line-height: 25px; }
          .forecast__table ul li .forecast-day .icon {
            height: 25px;
            width: 25px;
            margin-right: 8px; }
        .forecast__table ul li .day {
          display: inline-block;
          position: absolute;
          left: -30px;
          top: -30px;
          padding: 8px;
          font-family: "Raleway", sans-serif;
          font-size: 15px;
          font-weight: 700;
          background-color: #666666;
          border-radius: 15px;
          color: #f3f2f2;
          text-transform: uppercase;
          margin-top: 3px;
          border: 2px solid #f2f2f2;
          transition: 0.4s; }
        .forecast__table ul li:hover {
          border-bottom: 1px solid #666666; }
          .forecast__table ul li:hover .day {
            background-color: green; }

@media screen and (max-width: 1300px) {
  .current-weather__wrapper__details ul {
    font-size: 14px; }
  .current-weather__wrapper__temperature {
    height: 250px;
    width: 250px;
    line-height: 250px; }
    .current-weather__wrapper__temperature p {
      font-size: 120px; }
      .current-weather__wrapper__temperature p span {
        top: -50px; }

  #table li {
    padding-left: 15%; }
    #table li .day {
      left: -30px;
      font-size: 14px; } }
@media screen and (max-width: 1000px) and (min-width: 601px) {
  body {
    background-attachment: fixed; }

  .current-weather {
    width: 100%; }
    .current-weather__thermometer {
      display: none; }
    .current-weather__wrapper__temperature p span {
      top: -50px; }

  .forecast {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .forecast__table {
      width: 80%; }

  #toggleUnits {
    top: 30px;
    left: 93%;
    height: 75px;
    width: 75px;
    font-size: 12px;
    position: fixed; }

  .header-small {
    margin-bottom: 50px; }
    .header-small header h3 {
      font-size: 30px; }
      .header-small header h3 span {
        width: 60%; } }
@media screen and (max-width: 600px) and (min-width: 460px) {
  body {
    background-attachment: fixed; }

  .pre-loader h1 {
    font-size: 30px; }
  .pre-loader button {
    height: 150px;
    width: 150px;
    font-size: 15px; }

  .current-weather {
    width: 100%; }
    .current-weather__thermometer {
      display: none; }
    .current-weather__wrapper__temperature {
      height: 200px;
      width: 200px;
      line-height: 200px; }
      .current-weather__wrapper__temperature p {
        font-size: 90px; }
        .current-weather__wrapper__temperature p span {
          top: -35px;
          font-size: 40px; }

  .forecast {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .forecast__table {
      width: 80%; }

  #toggleUnits {
    top: 30px;
    left: 93%;
    height: 75px;
    width: 75px;
    font-size: 12px;
    position: fixed; }

  .header-small {
    margin-bottom: 25px; }
    .header-small header h3 {
      font-size: 30px; }
      .header-small header h3 span {
        width: 60%; } }
@media screen and (max-width: 459px) {
  body {
    background-attachment: fixed; }

  .pre-loader h1 {
    font-size: 30px; }
  .pre-loader button {
    height: 150px;
    width: 150px;
    font-size: 15px; }

  .current-weather {
    width: 100%; }
    .current-weather__thermometer {
      display: none; }
    .current-weather__wrapper__details {
      width: 95%; }
      .current-weather__wrapper__details ul {
        font-size: 12px;
        padding: 0; }
        .current-weather__wrapper__details ul li .icon {
          height: 26px;
          width: 26px; }
    .current-weather__wrapper__temperature {
      height: 200px;
      width: 200px;
      line-height: 200px; }
      .current-weather__wrapper__temperature p {
        font-size: 90px; }
        .current-weather__wrapper__temperature p span {
          top: -35px;
          font-size: 40px; }

  .forecast {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .forecast__table {
      width: 90%;
      padding: 0; }
      .forecast__table #table {
        padding-left: 12px; }
        .forecast__table #table li {
          padding: 0; }
          .forecast__table #table li .day {
            left: 0;
            font-size: 12px; }
          .forecast__table #table li .forecast-day {
            margin-top: 12px;
            font-size: 10px; }
            .forecast__table #table li .forecast-day .icon {
              height: 20px;
              width: 20px; }

  #toggleUnits {
    top: 30px;
    left: 90%;
    height: 50px;
    width: 50px;
    font-size: 8px;
    position: fixed; }

  .header-small {
    margin-bottom: 25px; }
    .header-small header h3 {
      font-size: 30px; }
      .header-small header h3 span {
        width: 60%; } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
